@font-face {
  font-family: Jaune;
  font-weight: 100;
  src: url('.././assets/fonts/Jaune-Midi-100.ttf') format('truetype');
}

@font-face {
  font-family: Jaune;
  font-weight: 300;
  src: url('.././assets/fonts/Jaune-Midi-300.ttf') format('truetype');
}

@font-face {
  font-family: Jaune;
  font-weight: 500;
  src: url('.././assets/fonts/Jaune-Midi-500.ttf') format('truetype');
}

@font-face {
  font-family: Spotnik;
  font-weight: 100;
  src: url('.././assets/fonts/CA-Spotnik-100.otf') format('opentype');
}

@font-face {
  font-family: Spotnik;
  font-weight: 300;
  src: url('.././assets/fonts/CA-Spotnik-300.otf') format('opentype');
}

@font-face {
  font-family: Spotnik;
  font-weight: 500;
  src: url('.././assets/fonts/CA-Spotnik-500.otf') format('opentype');
}

@font-face {
  font-family: Spotnik;
  font-weight: 700;
  src: url('.././assets/fonts/CA-Spotnik-700.otf') format('opentype');
}

$primaryColor : #5c6bdd;
$secondaryColor :#e26b6b;
$backgrounColor : #e9ebff;
$displayFont : 'Jaune',
serif;
$textFont : 'Spotnik',
sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  min-width: 320px;
  min-height: 100vh;
  font-family: $textFont;
  font-weight: 300;
  font-size: 16px;
  color: $primaryColor;
}

.App {
  display: flex;
  flex-direction: column;
  transition: filter .6s ease;
}

a {
  text-decoration: none;
  color: $primaryColor;

  &:visited {
    color: $primaryColor;
  }

  &:focus {
    color: $primaryColor;
  }

  &:hover {
    color: $primaryColor;
  }
}

/*HEADER*/

.header {
  padding-top: 3.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $backgrounColor;
}

.title-container {
  .surtitre {
    font-family: $textFont;
    font-weight: 100;
    letter-spacing: .1em;
    text-align: center;
    margin-bottom: 2em;
    font-size: clamp(12px, 2vw, 18px);
  }

  .title {
    position: relative;
  }

  @keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .header_stamp {
    position: absolute;
    width: clamp(100px, 15vw, 185px);
    top: 0;
    left: -5%;
    animation: rotate-animation 20s infinite linear;
  }

  h1 {
    text-align: center;
    font-family: $displayFont;
    font-size: clamp(80px, 12.5vw, 180px);
    font-weight: 100;
    line-height: 0.75em;
    margin-bottom: .4em;
  }

  .intro {
    width: 75vw;
    max-width: 800px;
    font-size: clamp(18px, 3.5vw, 50px);
    text-align: center;
    letter-spacing: .1em;
  }

  .title-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-nav{
    display: none;
  }

  .nav-button {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: .65em 1.5em;
    border: $primaryColor solid clamp(1px, .25vw, 2px);
    background-color: $backgrounColor;
    border-radius: 50px;
    font-size: clamp(11px, 2vw, 18px);
    overflow: hidden;
    cursor: pointer;
  }

  .white-link {
    position: absolute;
    top: -28%;
    color: white;
    z-index: 3;
    opacity: 0;
  }

  .bg-link {
    position: absolute;
    background-color: $primaryColor;
    left: -5%;
    top: 100%;
    height: 110%;
    width: 110%;
    z-index: 2;
  }
}

.scroll {
  margin: 2.5vw 0;
  width: clamp(25px, 3.5vw, 50px);
  height: clamp(45px, 6vw, 80px);
  border-radius: 50vw;
  border: clamp(1px, .2vw, 3px) solid $primaryColor;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*PROJECT CONTAINER*/

.projects-container {
  width: 100%;
  border-top: clamp(1px, .2vw, 3px) solid $primaryColor;
}

.project {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 15vw;
  padding: 0 5vw;
  background-color: rgb(92, 107, 221);
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
  display: flex;
  align-items: center;


  h2 {
    text-align: left;
    font-family: $textFont;
    font-size: clamp(30px, 6.5vw, 120px);
    font-weight: 300;
    transition: color .5s ease-in-out;
  }

  p {
    color: $primaryColor;
    transition: color .5s ease-in-out;
  }

  .project-id {
    text-decoration: underline;
    font-size: clamp(14px, 2vw, 24px);
  }

  .project-content {
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(100px);

    .project-name {
      display: flex;
      align-items: baseline;
      gap: 1vw;
    }

    .project-client {
      text-align: right;
    }

    .project-type {
      font-family: $textFont;
      font-size: clamp(12px, 1.4vw, 16px);
      text-transform: uppercase;
      letter-spacing: .4vw;
    }

    .client-name {
      font-family: 'Spotnik';
      font-size: clamp(18px, 2.5vw, 30px);
      font-weight: 300;
      letter-spacing: .2vw;
    }
  }
}

.hover.project .project-name {
  transform: translateY(0%);
}

.hover.project .project-client {
  transform: translateY(0%);
}

.animated-hr {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $primaryColor;
  width: 100%;
  height: clamp(1px, .2vw, 3px);
  transform: scaleX(0%);
  transform-origin: left top;
}

.test {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $backgrounColor;
  transform: translateY(0%);
  transition: transform .5s ease-in-out;
}

.project:hover .test {
  transform: translateY(-100%);
}

.project:hover p,
.project:hover h2 {
  color: #fff;
}

/*ERROR PAGE*/
#error-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*PROJECT DETAILS CARD*/
.project_details{
  display: flex;
  flex-direction: column;
  padding: 5vw;

  .back_home_btn{
    text-align: right;
    letter-spacing: .1em;
    font-size: .85em;
  }

  .project_title{
    text-align: center;
    padding-bottom: 4em;

    h1{
      font-family: $displayFont;
      font-weight: 100;
      font-size: clamp(40px, 11vw, 120px); 
    }

    p{
      text-transform: uppercase;
      letter-spacing: .1em;
      font-size: clamp(16px, 2.2vw, 22px);
      font-weight: 100;
    }
  }

  .project-card-infos{
    display: flex;
    gap:2em;
    margin-bottom: 2em;

    .arrow{
      flex: 1;
      font-size: clamp(50px, 13vw, 100px);
      font-weight: 100;
      position: relative;
      top:-.2em;
    }

    .project_infos_table{
      list-style: none;
      flex: 4;
      font-size: .75em;
      font-weight: 100;
      text-transform: uppercase;

      li{
        padding: 1em 0;
        display: flex;
        justify-content: space-between;
      }
    }

    .description{
      flex: 7;
      font-weight:100;
    }

    .project_links{
      margin-top: .5em;
      font-family: $displayFont;
      font-weight: 300;
      display: flex;
      gap:.25em;
      font-size: clamp(14px, 1.2vw, 18px);
    }

  }

  .project_video {
    width: 100%;
    margin-bottom: 2em;
  }

  .project_stack{
    margin-bottom: 3em;

    ul{
      display: flex;
      flex-wrap: wrap;
      gap: .5em;
      list-style-type: none;
    }

    li{
      font-size: .8em;
      font-weight: 100;
      padding: .3em 1.2em;
      font-size: clamp(16px, 2.2vw, 22px);
      border-radius: 50px

    }
  }

  .project_footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    .previous_project, .next_project{
      h2{
        font-weight: 100;
        font-size:2.2em
      }

      .previous_button, .next_button{
        font-weight: 100;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap:1em;
      }

      .next_button{
        text-align: right;
        justify-content: flex-end
      }
    }
  }

  .project_single_footer{
    justify-content: flex-end;
  }

}

/*ABOUT*/
.about-container {
  background-color: $primaryColor;
  position: relative;
  color: white;
  padding: 14vw 5vw 8vw;

  .about-title {
    position: relative;
    display: flex;
    align-items: start;
  }

  h1 {
    font-family: $displayFont;
    font-size: clamp(50px, 9vw, 130px);
    font-weight: 100;
    line-height: 1em;
    margin-bottom: 9vw;
  }

  .about-stamp {
    position: relative;
    width: clamp(80px, 15vw, 160px);
    left: -5vw;
    top: -4vw;
  }

  .about-content {
    display: flex;
    gap: 5vw;
  }

  .skills {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2em;

    h3 {
      font-family: $textFont;
      font-size: clamp(14px, 2vw, 20px);
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: .1em;
      margin-bottom: .6em;
    }

    p {
      font-size: .9em;
      font-weight: 100;
      letter-spacing: .1em;
      line-height: 1.5em;
    }
  }

  .about-text {
    flex: 2;
    font-weight: 100;

    .chapeau {
      font-size: clamp(22px, 2.5vw, 40px);
      font-style: oblique;
      letter-spacing: .04em;
      margin-bottom: 3vw;
    }

    p {
      letter-spacing: .1em;
      margin-bottom: 1em;
    }

    .emphasis {
      font-weight: 300;
    }
  }

}

/*MAIL BANNER*/
.mail_banner {
  background-color: #fff;
  color: $primaryColor;
  padding: 1em;
  position: relative;
  overflow: hidden;

  .mail_banner_container {
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;

    .inner_text {
      flex-shrink: 0;
      font-family: $textFont;
      font-weight: 100;
      font-size: clamp(35px, 5vw, 70px);
    }
  }
}

/* STACK */
.stack_container {
  background-color: $backgrounColor;
  display: flex;
  flex-wrap: wrap;
  padding: 10vw 8vw;
  gap: 1vw;
  justify-content: center;

  .stack {
    padding: .5em 1.5em;
    border: $primaryColor solid clamp(1px, .25vw, 2px);
    font-size: clamp(16px, 2.2vw, 22px);
    border-radius: 50px;
  }
}

/* CONTACT */
.contact_container {
  background-color: #fff;
  color: $primaryColor;
  padding: 5vw 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    font-weight: 100;
    font-size: clamp(28px, 4vw, 55px);
    font-family: $displayFont;
    text-align: center;
  }

  img {
    position: relative;
    width: clamp(120px, 16vw, 180px);
    margin: auto;
    padding-bottom: 2vw;
  }
}

/* FOOTER */
footer {
  background-color: $primaryColor;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 2vw 0;

  .footer_container {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }

  img {
    width: clamp(45px, 5vw, 65px);
  }
}

/* -----------MEDIA QUERIES ---------- */

@media screen and (max-width:530px) {

  /* HEADER */
  .title-container {
    padding: 1em;

    .intro {
      width: 90%;
    }
  
    .title-nav {
      flex-direction: column;
    }
  
    .mobile-nav{
      display: flex;
      gap: 1em;
      margin-bottom: 1em;
    }

    .nav-button-mobile{
      cursor: pointer;
      padding: .65em 1.5em;
      border: $primaryColor solid clamp(1px, .25vw, 2px);
      background-color: $backgrounColor;
      border-radius: 50px;
      font-size: clamp(11px, 2vw, 18px);

      &:hover{
        background-color: $primaryColor;
        color: #fff;
      }
    }

    .nav-button {
      display: none;
    }
  }

  /* PROJECT LIST*/
  .project {
    height: 22vw;
  
    h2 {
      font-size: clamp(25px, 8vw, 50px);
    }
  
    .project-content {
  
      .project-type {
        font-size: clamp(10px, 2.2vw, 12px);
        letter-spacing: .2vw;
      }
  
      .client-name {
        font-size: clamp(16px, 4.5vw, 20px);
        letter-spacing: 0;
      }
    }
  }

  /*PROJECT DETAILS CARD*/
  .project_details{
  

    .back_home_btn{
      letter-spacing: .05em;
      font-size: .75em;
    }

    .project_title{
      padding-bottom: 2.5em;

      p{
        letter-spacing: .05em;
        font-size: clamp(13px, 2.2vw, 18px);
      }
    }

    .project-card-infos{
      flex-direction: column;

      .arrow{
        display: none;
      }

      .project_infos_table{
        flex: 1;
        font-size: .8em;
      }

      .description{
        flex: 1;
        font-size: .95em;
      }
    }

    .project_stack{

      ul{
        display: flex;
        flex-wrap: wrap;
        gap: .5em;
        list-style-type: none;
      }

      li{
        font-size: clamp(14px, 2.2vw, 18px);
      }
    }

    .project_footer{

      .previous_project, .next_project{
        h2{
          font-size:1.8em
        }

        .previous_button, .next_button{
          font-size: .8em;
        }
      }
    }
  }

  /* ABOUT */ 
  .about-container {
    padding: 14vw 5vw 12vw;

    h1 {
      font-size: clamp(40px, 11vw, 60px);
    }
  
    .about-stamp {
      width: clamp(70px, 17vw, 140px);
      left: -8vw;
      top: -6vw;
    }
  
    .about-content {
      flex-direction: column-reverse;
    }
  
    .about-text {
      
      .chapeau {
        font-size: clamp(18px, 4vw, 40px);
        font-style: oblique;
        margin-bottom: 5vw;
      }
  
      p {
        font-size: .85em;
      }
    }

    .skills { 
      gap: 1em;
  
      h3 {
        font-size: .9em;
        letter-spacing: .1em;
        margin-bottom: .5em;
      }
  
      p {
        font-size: .75em;
      }
    }
  } 

  /* CONTACT */
  .contact_container {
    padding: 8vw 8vw;
    
    p {
      font-size: clamp(20px, 7vw, 30px);
    }

    img {
      width: clamp(80px, 25vw, 100px);
    }
  }

  /* FOOTER */
  footer {
    padding: 2.7vw 0;

    .footer_container {
      width: 70%;
      gap: 1.5em;
      justify-content: center;
    }
  }

}

